<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (receipt(); as receiptRef) {
      <div>
        <h2 data-cy="receiptDetailsHeading"><span>Receipt</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ receiptRef.id }}</span>
          </dd>
          <dt><span>Code</span></dt>
          <dd>
            <span>{{ receiptRef.code }}</span>
          </dd>
          <dt><span>Receipt Date</span></dt>
          <dd>
            <span>{{ receiptRef.receiptDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Customer Name</span></dt>
          <dd>
            <span>{{ receiptRef.customerName }}</span>
          </dd>
          <dt><span>Customer Address</span></dt>
          <dd>
            <span>{{ receiptRef.customerAddress }}</span>
          </dd>
          <dt><span>Total Amount</span></dt>
          <dd>
            <span>{{ receiptRef.totalAmount }}</span>
          </dd>
          <dt><span>Total Amount In Word</span></dt>
          <dd>
            <span>{{ receiptRef.totalAmountInWord }}</span>
          </dd>
          <dt><span>Comments</span></dt>
          <dd>
            <span>{{ receiptRef.comments }}</span>
          </dd>
          <dt><span>Lmu</span></dt>
          <dd>
            <span>{{ receiptRef.lmu }}</span>
          </dd>
          <dt><span>Lmd</span></dt>
          <dd>
            <span>{{ receiptRef.lmd | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Term Id</span></dt>
          <dd>
            <span>{{ receiptRef.termId }}</span>
          </dd>
          <dt><span>Term</span></dt>
          <dd>
            <span>{{ receiptRef.term }}</span>
          </dd>
          <dt><span>Date</span></dt>
          <dd>
            <span>{{ receiptRef.date | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Amount</span></dt>
          <dd>
            <span>{{ receiptRef.amount }}</span>
          </dd>
          <dt><span>Check Date</span></dt>
          <dd>
            <span>{{ receiptRef.checkDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Check No</span></dt>
          <dd>
            <span>{{ receiptRef.checkNo }}</span>
          </dd>
          <dt><span>Bank</span></dt>
          <dd>
            <span>{{ receiptRef.bank }}</span>
          </dd>
          <dt><span>Customer Id</span></dt>
          <dd>
            <span>{{ receiptRef.customerId }}</span>
          </dd>
          <dt><span>Is Active</span></dt>
          <dd>
            <span>{{ receiptRef.isActive }}</span>
          </dd>
          <dt><span>Deposited</span></dt>
          <dd>
            <span>{{ receiptRef.deposited }}</span>
          </dd>
          <dt><span>Created By</span></dt>
          <dd>
            <span>{{ receiptRef.createdBy }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/receipt', receiptRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
