<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden">
  <!-- Header -->
  <div class="bg-default flex flex-0 flex-col p-6 pb-22 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:pb-28 sm:pt-12">
    <div class="min-w-0 flex-1">
      <!-- Title -->
      <div class="mt-2">
        <h2 class="truncate text-3xl font-extrabold leading-7 tracking-tight sm:leading-10 md:text-4xl">
          Gate Passes
        </h2>
      </div>
    </div>
    <!-- Actions -->
    <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
      <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
        <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" placeholder="Search Gate Passes" />
      </mat-form-field>
      <button class="ml-3" mat-flat-button [color]="'primary'" (click)="openGatePassCreateDialog()">
        <mat-icon class="icon-size-4" [svgIcon]="'heroicons_mini:plus'"></mat-icon>
        <span class="ml-2">Create New Gate Pass</span>
      </button>
    </div>
  </div>

  <div class="example-table-container bg-card -mt-16 h-full rounded-t-2xl shadow overflow-auto">
    <div class="flex flex-col flex-auto sm:mb-18 overflow-auto">
      <table mat-table [dataSource]="dataSource" matSort class="w-full table-fixed border-separate border-spacing-y-2">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="px-4 py-3 text-left font-semibold">
            ID
          </th>
          <td mat-cell *matCellDef="let gatePass" class="px-4 py-2">
            {{ gatePass.id }}
          </td>
        </ng-container>

        <!-- Vehicle License Number Column -->
        <ng-container matColumnDef="vehicleLicenseNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="px-4 py-3 text-left font-semibold">
            License No
          </th>
          <td mat-cell *matCellDef="let gatePass" class="px-4 py-2">
            {{ gatePass.vehicleLicenseNumber }}
          </td>
        </ng-container>

        <!-- Vehicle Owner Name Column -->
        <ng-container matColumnDef="vehicleOwnerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="px-4 py-3 text-left font-semibold">
            Owner Name
          </th>
          <td mat-cell *matCellDef="let gatePass" class="px-4 py-2">
            {{ gatePass.vehicleOwnerName }}
          </td>
        </ng-container>

        <!-- Vehicle Brand Column -->
        <ng-container matColumnDef="vehicleBrand">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="px-4 py-3 text-left font-semibold">
            Vehicle Brand
          </th>
          <td mat-cell *matCellDef="let gatePass" class="px-4 py-2">
            {{ gatePass.vehicleBrand }}
          </td>
        </ng-container>

        <!-- Vehicle Model Column -->
        <ng-container matColumnDef="vehicleModel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="px-4 py-3 text-left font-semibold">
            Vehicle Model
          </th>
          <td mat-cell *matCellDef="let gatePass" class="px-4 py-2">
            {{ gatePass.vehicleModel }}
          </td>
        </ng-container>

        <!-- Fuel Level Column -->
        <ng-container matColumnDef="fuelLevel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="px-4 py-3 text-left font-semibold">
            Fuel Level
          </th>
          <td mat-cell *matCellDef="let gatePass" class="px-4 py-2">
            {{ gatePass.fuelLevel }}
          </td>
        </ng-container>

        <!-- Meter Reading Column -->
        <ng-container matColumnDef="meterReading">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="px-4 py-3 text-left font-semibold">
            Meter Reading
          </th>
          <td mat-cell *matCellDef="let gatePass" class="px-4 py-2">
            {{ gatePass.meterReading }}
          </td>
        </ng-container>

        <!-- Entry Date Time Column -->
        <ng-container matColumnDef="entryDateTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="px-4 py-3 text-left font-semibold">
            Entry Date/Time
          </th>
          <td mat-cell *matCellDef="let gatePass" class="px-4 py-2">
            {{ gatePass.entryDateTime | date: 'medium' }}
          </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="px-4 py-3 text-left font-semibold">
            Actions
          </th>
          <td mat-cell *matCellDef="let gatePass" class="px-4 py-2">
            <button mat-flat-button class="fuse-mat-button-large mr-2" color="primary" (click)="openGatePassEditDialog(gatePass)">
              Update
            </button>
            <button mat-flat-button class="fuse-mat-button-large" color="warn" (click)="deleteGatePass(gatePass)">
              Delete
            </button>
          </td>
        </ng-container>

        <!-- Header and Row Definitions -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  <mat-paginator #paginator [length]="totalItems" [pageSize]="itemsPerPage" class="bottom-0 justify-self-end" [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>