<div>
  <h2 id="page-heading" data-cy="VehicleTreatmentRegistryHeading">
    <span>Vehicle Treatment Registries</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vehicle-treatment-registry"
        [routerLink]="['/vehicle-treatment-registry/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down">Create a new Vehicle Treatment Registry</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch">Search for Vehicle Treatment Registry</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="Search for Vehicle Treatment Registry"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  <jhi-filter [filters]="filters" />

  @if (vehicleTreatmentRegistries().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Vehicle Treatment Registries found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fittingChargeName">
              <div class="d-flex">
                <span>Fitting Charge Name</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="paintName">
              <div class="d-flex">
                <span>Paint Name</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="partName">
              <div class="d-flex">
                <span>Part Name</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="repairName">
              <div class="d-flex">
                <span>Repair Name</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="otherName">
              <div class="d-flex">
                <span>Other Name</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span>Description</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="partNumber">
              <div class="d-flex">
                <span>Part Number</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="availableQuantity">
              <div class="d-flex">
                <span>Available Quantity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="price">
              <div class="d-flex">
                <span>Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="treatmentType">
              <div class="d-flex">
                <span>Treatment Type</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="opsUnitID">
              <div class="d-flex">
                <span>Ops Unit ID</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span>Created By</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span>Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedBy">
              <div class="d-flex">
                <span>Last Modified By</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedDate">
              <div class="d-flex">
                <span>Last Modified Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="vehicleModel.id">
              <div class="d-flex">
                <span>Vehicle Model</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (vehicleTreatmentRegistry of vehicleTreatmentRegistries(); track trackId(vehicleTreatmentRegistry)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/vehicle-treatment-registry', vehicleTreatmentRegistry.id, 'view']">{{ vehicleTreatmentRegistry.id }}</a>
              </td>
              <td>{{ vehicleTreatmentRegistry.fittingChargeName }}</td>
              <td>{{ vehicleTreatmentRegistry.paintName }}</td>
              <td>{{ vehicleTreatmentRegistry.partName }}</td>
              <td>{{ vehicleTreatmentRegistry.repairName }}</td>
              <td>{{ vehicleTreatmentRegistry.otherName }}</td>
              <td>{{ vehicleTreatmentRegistry.description }}</td>
              <td>{{ vehicleTreatmentRegistry.partNumber }}</td>
              <td>{{ vehicleTreatmentRegistry.availableQuantity }}</td>
              <td>{{ vehicleTreatmentRegistry.price }}</td>
              <td>
                {{
                  { null: '', PART: 'PART', PAINT: 'PAINT', FITTING_CHARGE: 'FITTING_CHARGE', REPAIR: 'REPAIR', OTHER: 'OTHER' }[
                    vehicleTreatmentRegistry.treatmentType ?? 'null'
                  ]
                }}
              </td>
              <td>{{ vehicleTreatmentRegistry.opsUnitID }}</td>
              <td>{{ vehicleTreatmentRegistry.createdBy }}</td>
              <td>{{ vehicleTreatmentRegistry.createdDate | formatMediumDatetime }}</td>
              <td>{{ vehicleTreatmentRegistry.lastModifiedBy }}</td>
              <td>{{ vehicleTreatmentRegistry.lastModifiedDate | formatMediumDatetime }}</td>
              <td>
                @if (vehicleTreatmentRegistry.vehicleModel) {
                  <div>
                    <a [routerLink]="['/vehicle-model', vehicleTreatmentRegistry.vehicleModel.id, 'view']">{{
                      vehicleTreatmentRegistry.vehicleModel.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/vehicle-treatment-registry', vehicleTreatmentRegistry.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a
                    [routerLink]="['/vehicle-treatment-registry', vehicleTreatmentRegistry.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(vehicleTreatmentRegistry)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (vehicleTreatmentRegistries().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
