<div>
  <h2 id="page-heading" data-cy="ChequeRegistryHeading">
    <span>Cheque Registries</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cheque-registry"
        [routerLink]="['/cheque-registry/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Cheque Registry</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (chequeRegistries().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Cheque Registries found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="receiptCode">
              <div class="d-flex">
                <span>Receipt Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="customerName">
              <div class="d-flex">
                <span>Customer Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bankName">
              <div class="d-flex">
                <span>Bank Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="chequeNo">
              <div class="d-flex">
                <span>Cheque No</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="amount">
              <div class="d-flex">
                <span>Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="chequeDate">
              <div class="d-flex">
                <span>Cheque Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="depositedDate">
              <div class="d-flex">
                <span>Deposited Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bankAccount">
              <div class="d-flex">
                <span>Bank Account</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span>Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isChanged">
              <div class="d-flex">
                <span>Is Changed</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="chrFrmCus">
              <div class="d-flex">
                <span>Chr Frm Cus</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="returnFee">
              <div class="d-flex">
                <span>Return Fee</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lmd">
              <div class="d-flex">
                <span>Lmd</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lmu">
              <div class="d-flex">
                <span>Lmu</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (chequeRegistry of chequeRegistries(); track trackId(chequeRegistry)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/cheque-registry', chequeRegistry.id, 'view']">{{ chequeRegistry.id }}</a>
              </td>
              <td>{{ chequeRegistry.receiptCode }}</td>
              <td>{{ chequeRegistry.customerName }}</td>
              <td>{{ chequeRegistry.bankName }}</td>
              <td>{{ chequeRegistry.chequeNo }}</td>
              <td>{{ chequeRegistry.amount }}</td>
              <td>{{ chequeRegistry.chequeDate | formatMediumDatetime }}</td>
              <td>{{ chequeRegistry.depositedDate | formatMediumDatetime }}</td>
              <td>{{ chequeRegistry.bankAccount }}</td>
              <td>{{ chequeRegistry.status }}</td>
              <td>{{ chequeRegistry.isChanged }}</td>
              <td>{{ chequeRegistry.chrFrmCus }}</td>
              <td>{{ chequeRegistry.returnFee }}</td>
              <td>{{ chequeRegistry.lmd | formatMediumDatetime }}</td>
              <td>{{ chequeRegistry.lmu }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/cheque-registry', chequeRegistry.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a
                    [routerLink]="['/cheque-registry', chequeRegistry.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(chequeRegistry)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
