<!-- Container to center content -->
<div class="flex flex-col items-center p-3 text-center">
  <!-- Dialog Title -->
  <h2 class="text-xl font-semibold text-gray-800 dark:text-white">
    Session expired due to inactivity. Please log in again.
  </h2>

  <div class="mt-0.5 flex justify-center font-medium">
    <!-- Redirect countdown -->
    @if (countdown > 0) {
      Redirecting in
      {{ countdown | i18nPlural: countdownMapping }}
    }

    <!-- Redirect message -->
    @if (countdown === 0) {
      You are now being redirected!
    }
  </div>

  <!-- Dialog Actions (Centered Buttons) -->
  <div class="mt-6 flex space-x-3">
    <button
      mat-button
      class="rounded-lg bg-red-500 px-4 py-2 text-2xl text-white shadow-lg hover:bg-red-600 focus:outline-none focus:ring focus:ring-red-300"
      (click)="confirm()"
    >
      Ok
    </button>
  </div>
</div>
