<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (gRNLineBatches(); as gRNLineBatchesRef) {
      <div>
        <h2 data-cy="gRNLineBatchesDetailsHeading"><span>GRN Line Batches</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>Id</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.id }}</span>
          </dd>
          <dt><span>Line Id</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.lineId }}</span>
          </dd>
          <dt><span>Batch Line Id</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.batchLineId }}</span>
          </dd>
          <dt><span>Item Id</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.itemId }}</span>
          </dd>
          <dt><span>Code</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.code }}</span>
          </dd>
          <dt><span>Tx Date</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.txDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Manufacture Date</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.manufactureDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Expired Date</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.expiredDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Qty</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.qty }}</span>
          </dd>
          <dt><span>Cost</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.cost }}</span>
          </dd>
          <dt><span>Price</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.price }}</span>
          </dd>
          <dt><span>Cost Without Vat</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.costWithoutVat }}</span>
          </dd>
          <dt><span>Price Without Vat</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.priceWithoutVat }}</span>
          </dd>
          <dt><span>Has Vat</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.hasVat }}</span>
          </dd>
          <dt><span>Supplier Discount</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.supplierDiscount }}</span>
          </dd>
          <dt><span>Notes</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.notes }}</span>
          </dd>
          <dt><span>Lmu</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.lmu }}</span>
          </dd>
          <dt><span>Lmd</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.lmd | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Batch Id</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.batchId }}</span>
          </dd>
          <dt><span>Qty In</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.qtyIn }}</span>
          </dd>
          <dt><span>Qty Out</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.qtyOut }}</span>
          </dd>
          <dt><span>Batch Line Total</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.batchLineTotal }}</span>
          </dd>
          <dt><span>Inspected</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.inspected }}</span>
          </dd>
          <dt><span>Pass Qty</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.passQty }}</span>
          </dd>
          <dt><span>Current Received Qty</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.currentReceivedQty }}</span>
          </dd>
          <dt><span>Total Passed Qty</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.totalPassedQty }}</span>
          </dd>
          <dt><span>Is Inventory Update</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.isInventoryUpdate }}</span>
          </dd>
          <dt><span>Inventory Qty</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.inventoryQty }}</span>
          </dd>
          <dt><span>Total Inventory Qty</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.totalInventoryQty }}</span>
          </dd>
          <dt><span>Return Price</span></dt>
          <dd>
            <span>{{ gRNLineBatchesRef.returnPrice }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/grn-line-batches', gRNLineBatchesRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
