<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-invoice-item-heading" data-cy="InvoiceItemCreateUpdateHeading">Create or edit a Invoice Item</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_invoiceDate">Invoice Date</label>
          <div class="d-flex">
            <input
              id="field_invoiceDate"
              data-cy="invoiceDate"
              type="datetime-local"
              class="form-control"
              name="invoiceDate"
              formControlName="invoiceDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_descriptions">Descriptions</label>
          <input
            type="text"
            class="form-control"
            name="descriptions"
            id="field_descriptions"
            data-cy="descriptions"
            formControlName="descriptions"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_types">Types</label>
          <input type="text" class="form-control" name="types" id="field_types" data-cy="types" formControlName="types" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_invoice">Invoice</label>
          <select
            class="form-control"
            id="field_invoice"
            data-cy="invoice"
            name="invoice"
            formControlName="invoice"
            [compareWith]="compareInvoice"
          >
            <option [ngValue]="null"></option>
            @for (invoiceOption of invoicesSharedCollection; track $index) {
              <option [ngValue]="invoiceOption">{{ invoiceOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
