<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (accountType(); as accountTypeRef) {
      <div>
        <h2 data-cy="accountTypeDetailsHeading"><span>Account Type</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ accountTypeRef.id }}</span>
          </dd>
          <dt><span>Ops Unit ID</span></dt>
          <dd>
            <span>{{ accountTypeRef.opsUnitID }}</span>
          </dd>
          <dt><span>Type</span></dt>
          <dd>
            <span>{{ accountTypeRef.type }}</span>
          </dd>
          <dt><span>Code</span></dt>
          <dd>
            <span>{{ accountTypeRef.code }}</span>
          </dd>
          <dt><span>Lmu</span></dt>
          <dd>
            <span>{{ accountTypeRef.lmu }}</span>
          </dd>
          <dt><span>Lmd</span></dt>
          <dd>
            <span>{{ accountTypeRef.lmd | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Account Type Value</span></dt>
          <dd>
            <span>{{ accountTypeRef.accountTypeValue }}</span>
          </dd>
          <dt><span>Can Edit</span></dt>
          <dd>
            <span>{{ accountTypeRef.canEdit }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/account-type', accountTypeRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
