<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-grn-line-batches-heading" data-cy="GRNLineBatchesCreateUpdateHeading">Create or edit a GRN Line Batches</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">Id</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_lineId">Line Id</label>
          <input type="number" class="form-control" name="lineId" id="field_lineId" data-cy="lineId" formControlName="lineId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_batchLineId">Batch Line Id</label>
          <input
            type="number"
            class="form-control"
            name="batchLineId"
            id="field_batchLineId"
            data-cy="batchLineId"
            formControlName="batchLineId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_itemId">Item Id</label>
          <input type="number" class="form-control" name="itemId" id="field_itemId" data-cy="itemId" formControlName="itemId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_txDate">Tx Date</label>
          <div class="d-flex">
            <input
              id="field_txDate"
              data-cy="txDate"
              type="datetime-local"
              class="form-control"
              name="txDate"
              formControlName="txDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_manufactureDate">Manufacture Date</label>
          <div class="d-flex">
            <input
              id="field_manufactureDate"
              data-cy="manufactureDate"
              type="datetime-local"
              class="form-control"
              name="manufactureDate"
              formControlName="manufactureDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_expiredDate">Expired Date</label>
          <div class="d-flex">
            <input
              id="field_expiredDate"
              data-cy="expiredDate"
              type="datetime-local"
              class="form-control"
              name="expiredDate"
              formControlName="expiredDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_qty">Qty</label>
          <input type="number" class="form-control" name="qty" id="field_qty" data-cy="qty" formControlName="qty" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cost">Cost</label>
          <input type="number" class="form-control" name="cost" id="field_cost" data-cy="cost" formControlName="cost" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_costWithoutVat">Cost Without Vat</label>
          <input
            type="number"
            class="form-control"
            name="costWithoutVat"
            id="field_costWithoutVat"
            data-cy="costWithoutVat"
            formControlName="costWithoutVat"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_priceWithoutVat">Price Without Vat</label>
          <input
            type="number"
            class="form-control"
            name="priceWithoutVat"
            id="field_priceWithoutVat"
            data-cy="priceWithoutVat"
            formControlName="priceWithoutVat"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_hasVat">Has Vat</label>
          <input type="checkbox" class="form-check" name="hasVat" id="field_hasVat" data-cy="hasVat" formControlName="hasVat" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_supplierDiscount">Supplier Discount</label>
          <input
            type="number"
            class="form-control"
            name="supplierDiscount"
            id="field_supplierDiscount"
            data-cy="supplierDiscount"
            formControlName="supplierDiscount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_notes">Notes</label>
          <input type="text" class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lmu">Lmu</label>
          <input type="number" class="form-control" name="lmu" id="field_lmu" data-cy="lmu" formControlName="lmu" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lmd">Lmd</label>
          <div class="d-flex">
            <input
              id="field_lmd"
              data-cy="lmd"
              type="datetime-local"
              class="form-control"
              name="lmd"
              formControlName="lmd"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_batchId">Batch Id</label>
          <input type="number" class="form-control" name="batchId" id="field_batchId" data-cy="batchId" formControlName="batchId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_qtyIn">Qty In</label>
          <input type="number" class="form-control" name="qtyIn" id="field_qtyIn" data-cy="qtyIn" formControlName="qtyIn" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_qtyOut">Qty Out</label>
          <input type="number" class="form-control" name="qtyOut" id="field_qtyOut" data-cy="qtyOut" formControlName="qtyOut" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_batchLineTotal">Batch Line Total</label>
          <input
            type="number"
            class="form-control"
            name="batchLineTotal"
            id="field_batchLineTotal"
            data-cy="batchLineTotal"
            formControlName="batchLineTotal"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_inspected">Inspected</label>
          <input type="checkbox" class="form-check" name="inspected" id="field_inspected" data-cy="inspected" formControlName="inspected" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_passQty">Pass Qty</label>
          <input type="number" class="form-control" name="passQty" id="field_passQty" data-cy="passQty" formControlName="passQty" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_currentReceivedQty">Current Received Qty</label>
          <input
            type="number"
            class="form-control"
            name="currentReceivedQty"
            id="field_currentReceivedQty"
            data-cy="currentReceivedQty"
            formControlName="currentReceivedQty"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_totalPassedQty">Total Passed Qty</label>
          <input
            type="number"
            class="form-control"
            name="totalPassedQty"
            id="field_totalPassedQty"
            data-cy="totalPassedQty"
            formControlName="totalPassedQty"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_isInventoryUpdate">Is Inventory Update</label>
          <input
            type="checkbox"
            class="form-check"
            name="isInventoryUpdate"
            id="field_isInventoryUpdate"
            data-cy="isInventoryUpdate"
            formControlName="isInventoryUpdate"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_inventoryQty">Inventory Qty</label>
          <input
            type="number"
            class="form-control"
            name="inventoryQty"
            id="field_inventoryQty"
            data-cy="inventoryQty"
            formControlName="inventoryQty"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_totalInventoryQty">Total Inventory Qty</label>
          <input
            type="number"
            class="form-control"
            name="totalInventoryQty"
            id="field_totalInventoryQty"
            data-cy="totalInventoryQty"
            formControlName="totalInventoryQty"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_returnPrice">Return Price</label>
          <input
            type="number"
            class="form-control"
            name="returnPrice"
            id="field_returnPrice"
            data-cy="returnPrice"
            formControlName="returnPrice"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
