<div>
  <h2 id="page-heading" data-cy="PreEstimateTreatmentHeading">
    <span>Pre Estimate Treatments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pre-estimate-treatment"
        [routerLink]="['/pre-estimate-treatment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down">Create a new Pre Estimate Treatment</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch">Search for Pre Estimate Treatment</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="Search for Pre Estimate Treatment"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  <jhi-filter [filters]="filters" />

  @if (preEstimateTreatments().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Pre Estimate Treatments found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="vehicleTreatmentID">
              <div class="d-flex">
                <span>Vehicle Treatment ID</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="fittingChargeName">
              <div class="d-flex">
                <span>Fitting Charge Name</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="paintName">
              <div class="d-flex">
                <span>Paint Name</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="partName">
              <div class="d-flex">
                <span>Part Name</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="partNumber">
              <div class="d-flex">
                <span>Part Number</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="repairName">
              <div class="d-flex">
                <span>Repair Name</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="other">
              <div class="d-flex">
                <span>Other</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="sh">
              <div class="d-flex">
                <span>Sh</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="marketPrice">
              <div class="d-flex">
                <span>Market Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="priceType">
              <div class="d-flex">
                <span>Price Type</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="type">
              <div class="d-flex">
                <span>Type</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="customPrice">
              <div class="d-flex">
                <span>Custom Price</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="unitPrice">
              <div class="d-flex">
                <span>Unit Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="price">
              <div class="d-flex">
                <span>Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="totalPrice">
              <div class="d-flex">
                <span>Total Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isSystemPrice">
              <div class="d-flex">
                <span>Is System Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="availableQuantity">
              <div class="d-flex">
                <span>Available Quantity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="treatmentType">
              <div class="d-flex">
                <span>Treatment Type</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="quantity">
              <div class="d-flex">
                <span>Quantity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="opsUnitID">
              <div class="d-flex">
                <span>Ops Unit ID</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span>Created By</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span>Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedBy">
              <div class="d-flex">
                <span>Last Modified By</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedDate">
              <div class="d-flex">
                <span>Last Modified Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="preEstimate.id">
              <div class="d-flex">
                <span>Pre Estimate</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (preEstimateTreatment of preEstimateTreatments(); track trackId(preEstimateTreatment)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/pre-estimate-treatment', preEstimateTreatment.id, 'view']">{{ preEstimateTreatment.id }}</a>
              </td>
              <td>{{ preEstimateTreatment.vehicleTreatmentID }}</td>
              <td>{{ preEstimateTreatment.fittingChargeName }}</td>
              <td>{{ preEstimateTreatment.paintName }}</td>
              <td>{{ preEstimateTreatment.partName }}</td>
              <td>{{ preEstimateTreatment.partNumber }}</td>
              <td>{{ preEstimateTreatment.repairName }}</td>
              <td>{{ preEstimateTreatment.other }}</td>
              <td>{{ { null: '', SH: 'SH', MR: 'MR' }[preEstimateTreatment.sh ?? 'null'] }}</td>
              <td>{{ preEstimateTreatment.marketPrice }}</td>
              <td>{{ { null: '', SYSTEM: 'SYSTEM', ESTIMATE: 'ESTIMATE' }[preEstimateTreatment.priceType ?? 'null'] }}</td>
              <td>{{ preEstimateTreatment.type }}</td>
              <td>{{ preEstimateTreatment.customPrice }}</td>
              <td>{{ preEstimateTreatment.unitPrice }}</td>
              <td>{{ preEstimateTreatment.price }}</td>
              <td>{{ preEstimateTreatment.totalPrice }}</td>
              <td>{{ preEstimateTreatment.isSystemPrice }}</td>
              <td>{{ preEstimateTreatment.availableQuantity }}</td>
              <td>
                {{
                  { null: '', PART: 'PART', PAINT: 'PAINT', FITTING_CHARGE: 'FITTING_CHARGE', REPAIR: 'REPAIR', OTHER: 'OTHER' }[
                    preEstimateTreatment.treatmentType ?? 'null'
                  ]
                }}
              </td>
              <td>{{ preEstimateTreatment.quantity }}</td>
              <td>{{ preEstimateTreatment.opsUnitID }}</td>
              <td>{{ preEstimateTreatment.createdBy }}</td>
              <td>{{ preEstimateTreatment.createdDate | formatMediumDatetime }}</td>
              <td>{{ preEstimateTreatment.lastModifiedBy }}</td>
              <td>{{ preEstimateTreatment.lastModifiedDate | formatMediumDatetime }}</td>
              <td>
                @if (preEstimateTreatment.preEstimate) {
                  <div>
                    <a [routerLink]="['/pre-estimate', preEstimateTreatment.preEstimate.id, 'view']">{{
                      preEstimateTreatment.preEstimate.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/pre-estimate-treatment', preEstimateTreatment.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a
                    [routerLink]="['/pre-estimate-treatment', preEstimateTreatment.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(preEstimateTreatment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (preEstimateTreatments().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
