<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden">
  <!-- Header -->
  <div
    class="bg-default flex flex-0 flex-col p-6 pb-22 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:pb-28 sm:pt-12"
  >
    <div class="min-w-0 flex-1">
      <!-- Title -->
      <div class="mt-2">
        <h2
          class="truncate text-3xl font-extrabold leading-7 tracking-tight sm:leading-10 md:text-4xl"
        >
          Models
        </h2>
      </div>
    </div>
    <!-- Actions -->

    <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
      <mat-form-field
        class="fuse-mat-dense fuse-mat-rounded min-w-64"
        [subscriptSizing]="'dynamic'"
      >
        <mat-icon
          class="icon-size-5"
          matPrefix
          [svgIcon]="'heroicons_solid:magnifying-glass'"
        ></mat-icon>
        <input
          matInput
          [formControl]="searchInputControl"
          [autocomplete]="'off'"
          [placeholder]="'Search Models'"
        />
      </mat-form-field>
      <button
        class="ml-3"
        mat-flat-button
        [color]="'primary'"
        (click)="openModelCreateDialog()"
      >
        <mat-icon
          class="icon-size-4"
          [svgIcon]="'heroicons_mini:plus'"
        ></mat-icon>
        <span class="ml-2">Create New Model</span>
      </button>

      <div class="relative ml-2">
        <!-- <button (click)="filterByCreatedDate()">Get</button> -->
        <input
          type="file"
          (change)="onFileUpload($event, fileInput)"
          accept=".xls, .xlsx"
          class="hidden"
          #fileInput
        />

        <button
          mat-flat-button
          color="accent"
          (click)="fileInput.click()"
          class="flex items-center space-x-2"
          [disabled]="isImporting"
        >
          <mat-icon
            *ngIf="!isImporting"
            [svgIcon]="'heroicons_outline:plus'"
          ></mat-icon>
          <mat-spinner *ngIf="isImporting" diameter="20"></mat-spinner>
          <span>{{ isImporting ? "Importing..." : "Import Excel" }}</span>
        </button>
      </div>
    </div>
  </div>

  <div
    class="example-table-container bg-card -mt-16 h-full rounded-t-2xl shadow overflow-auto"
  >
    <div class="flex flex-col flex-auto sm:mb-18 overflow-auto">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="w-full table-fixed border-separate border-spacing-y-2 px-6"
      >
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="px-4 py-3 text-center font-semibold"
            style="width: 10%"
          >
            ID
          </th>
          <td mat-cell *matCellDef="let model" class="px-4 py-2">
            {{ model.id }}
          </td>
        </ng-container>

        <!-- Model name Column -->
        <ng-container matColumnDef="modelName">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="px-4 py-3 text-left font-semibold"
          >
            Model Name
          </th>
          <td mat-cell *matCellDef="let model" class="px-4 py-2">
            {{ model.modelName }}
          </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="px-4 py-3 text-left font-semibold"
          >
            Description
          </th>
          <td mat-cell *matCellDef="let model" class="px-4 py-2">
            {{ model.description }}
          </td>
        </ng-container>

        <!-- Ops Unit ID Column -->
        <!-- <ng-container matColumnDef="opsUnitID">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="px-4 py-3 text-left font-semibold"
          >
            Ops Unit ID
          </th>
          <td mat-cell *matCellDef="let model" class="px-4 py-2">
            {{ model.opsUnitID }}
          </td>
        </ng-container> -->

        <!-- Brand Column -->
        <ng-container matColumnDef="brand">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="px-4 py-3 text-left font-semibold"
          >
            Brand
          </th>
          <td mat-cell *matCellDef="let model" class="px-4 py-2">
            {{ getBrandNameById(model.brand.id) }}
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="px-4 py-3 text-left font-semibold"
          ></th>
          <td mat-cell *matCellDef="let vehicle" class="px-4 py-2">
            <button
              mat-flat-button
              class="fuse-mat-button-large mr-2"
              color="primary"
              (click)="openModelEditDialog(vehicle)"
            >
              Update
            </button>

            <button
              mat-flat-button
              class="fuse-mat-button-large"
              color="warn"
              (click)="deleteModel(vehicle)"
            >
              Delete
            </button>
          </td>
        </ng-container>

        <!-- Header and Row Definitions -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  <mat-paginator
    #paginator
    [length]="totalItems"
    [pageSize]="itemsPerPage"
    class="bottom-0 justify-self-end"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
