/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
/* ===== Mat Select Bank Account Dropdown ===== */
.bank-account-panel {
    min-width: 400px !important;
    max-width: 600px !important;
}

.bank-account-panel .mat-mdc-option {
    white-space: normal !important;
    line-height: 1.4;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bank-account-panel .mat-mdc-option-text {
    font-size: 0.9rem;
    font-weight: 500;
}
