.form-section,
.invoice-section {
  display: flex;
  flex-direction: column;
  //gap: 1rem; /* match receipt-create spacing */
}

.invoice-line {
  display: flex;
  flex-direction: column;
  //gap: 1rem;
  //margin-bottom: 1rem;
}

.w-full {
  width: 100%;
}

.text-right {
  display: flex;
  justify-content: flex-end;
}

.text-left {
  display: flex;
  justify-content: flex-start;
}

.step-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.bank-account-option {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  
  .text-sm {
    font-size: 0.875rem;
    margin-top: 2px;
  }
}