<div>
  <h2 id="page-heading" data-cy="TheInventoryBatchesHeading">
    <span>The Inventory Batches</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-the-inventory-batches"
        [routerLink]="['/the-inventory-batches/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down">Create a new The Inventory Batches</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch">Search for The Inventory Batches</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="Search for The Inventory Batches"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  <jhi-filter [filters]="filters" />

  @if (theInventoryBatches().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No The Inventory Batches found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="itemId">
              <div class="d-flex">
                <span>Item Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="grnId">
              <div class="d-flex">
                <span>Grn Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="code">
              <div class="d-flex">
                <span>Code</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="txDate">
              <div class="d-flex">
                <span>Tx Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cost">
              <div class="d-flex">
                <span>Cost</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="price">
              <div class="d-flex">
                <span>Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="costWithoutVat">
              <div class="d-flex">
                <span>Cost Without Vat</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="priceWithoutVat">
              <div class="d-flex">
                <span>Price Without Vat</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="notes">
              <div class="d-flex">
                <span>Notes</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="lmu">
              <div class="d-flex">
                <span>Lmu</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lmd">
              <div class="d-flex">
                <span>Lmd</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lineId">
              <div class="d-flex">
                <span>Line Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="manufactureDate">
              <div class="d-flex">
                <span>Manufacture Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="expireDate">
              <div class="d-flex">
                <span>Expire Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="quantity">
              <div class="d-flex">
                <span>Quantity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="addedDate">
              <div class="d-flex">
                <span>Added Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="costTotal">
              <div class="d-flex">
                <span>Cost Total</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="returnPrice">
              <div class="d-flex">
                <span>Return Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (theInventoryBatches of theInventoryBatches(); track trackId(theInventoryBatches)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/the-inventory-batches', theInventoryBatches.id, 'view']">{{ theInventoryBatches.id }}</a>
              </td>
              <td>{{ theInventoryBatches.itemId }}</td>
              <td>{{ theInventoryBatches.grnId }}</td>
              <td>{{ theInventoryBatches.code }}</td>
              <td>{{ theInventoryBatches.txDate | formatMediumDatetime }}</td>
              <td>{{ theInventoryBatches.cost }}</td>
              <td>{{ theInventoryBatches.price }}</td>
              <td>{{ theInventoryBatches.costWithoutVat }}</td>
              <td>{{ theInventoryBatches.priceWithoutVat }}</td>
              <td>{{ theInventoryBatches.notes }}</td>
              <td>{{ theInventoryBatches.lmu }}</td>
              <td>{{ theInventoryBatches.lmd | formatMediumDatetime }}</td>
              <td>{{ theInventoryBatches.lineId }}</td>
              <td>{{ theInventoryBatches.manufactureDate | formatMediumDatetime }}</td>
              <td>{{ theInventoryBatches.expireDate | formatMediumDatetime }}</td>
              <td>{{ theInventoryBatches.quantity }}</td>
              <td>{{ theInventoryBatches.addedDate | formatMediumDatetime }}</td>
              <td>{{ theInventoryBatches.costTotal }}</td>
              <td>{{ theInventoryBatches.returnPrice }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/the-inventory-batches', theInventoryBatches.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a
                    [routerLink]="['/the-inventory-batches', theInventoryBatches.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(theInventoryBatches)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (theInventoryBatches().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
