<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (journalVoucher(); as journalVoucherRef) {
      <div>
        <h2 data-cy="journalVoucherDetailsHeading"><span>Journal Voucher</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ journalVoucherRef.id }}</span>
          </dd>
          <dt><span>Code</span></dt>
          <dd>
            <span>{{ journalVoucherRef.code }}</span>
          </dd>
          <dt><span>Date</span></dt>
          <dd>
            <span>{{ journalVoucherRef.date | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Debit Total</span></dt>
          <dd>
            <span>{{ journalVoucherRef.debitTotal }}</span>
          </dd>
          <dt><span>Credit Total</span></dt>
          <dd>
            <span>{{ journalVoucherRef.creditTotal }}</span>
          </dd>
          <dt><span>Comments</span></dt>
          <dd>
            <span>{{ journalVoucherRef.comments }}</span>
          </dd>
          <dt><span>Value</span></dt>
          <dd>
            <span>{{ journalVoucherRef.value }}</span>
          </dd>
          <dt><span>Serial No</span></dt>
          <dd>
            <span>{{ journalVoucherRef.serialNo }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/journal-voucher', journalVoucherRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
