
<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden">
  <!-- Header -->
  <div
    class="bg-default flex flex-0 flex-col p-6 pb-22 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:pb-28 sm:pt-12"
  >
    <div class="min-w-0 flex-1">
      <!-- Title -->
      <div class="mt-2">
        <h2
          class="truncate text-3xl font-extrabold leading-7 tracking-tight sm:leading-10 md:text-4xl"
        >
          Vehicles
        </h2>
      </div>
    </div>
    <!-- Actions -->

    <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
      <!-- <mat-form-field
        class="fuse-mat-dense fuse-mat-rounded min-w-64"
        [subscriptSizing]="'dynamic'"
      >
        <mat-icon
          class="icon-size-5"
          matPrefix
          [svgIcon]="'heroicons_solid:magnifying-glass'"
        ></mat-icon>
        <input
          matInput
          [formControl]="searchInputControl"
          [autocomplete]="'off'"
          [placeholder]="'Search Vehicles'"
        />
      </mat-form-field> -->
      <button
        class="ml-3"
        mat-flat-button
        [color]="'primary'"
        (click)="openCreateDialog()"
      >
        <mat-icon
          class="icon-size-4"
          [svgIcon]="'heroicons_mini:plus'"
        ></mat-icon>
        <span class="ml-2">Register New Vehicle</span>
      </button>

      <!-- <button
        class="ml-3"
        mat-flat-button
        [color]="'accent'"
        (click)="openVehicleCreateDialog()"
      >

        <span>Models</span>
      </button> -->
    </div>
  </div>

  <div
    class="example-table-container bg-card -mt-16 h-full rounded-t-2xl shadow overflow-auto"
  >
    <div class="flex flex-col flex-auto sm:mb-18 overflow-auto">
      
    </div>
  </div>

</div>
