<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (chequeRegistry(); as chequeRegistryRef) {
      <div>
        <h2 data-cy="chequeRegistryDetailsHeading"><span>Cheque Registry</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ chequeRegistryRef.id }}</span>
          </dd>
          <dt><span>Receipt Code</span></dt>
          <dd>
            <span>{{ chequeRegistryRef.receiptCode }}</span>
          </dd>
          <dt><span>Customer Name</span></dt>
          <dd>
            <span>{{ chequeRegistryRef.customerName }}</span>
          </dd>
          <dt><span>Bank Name</span></dt>
          <dd>
            <span>{{ chequeRegistryRef.bankName }}</span>
          </dd>
          <dt><span>Cheque No</span></dt>
          <dd>
            <span>{{ chequeRegistryRef.chequeNo }}</span>
          </dd>
          <dt><span>Amount</span></dt>
          <dd>
            <span>{{ chequeRegistryRef.amount }}</span>
          </dd>
          <dt><span>Cheque Date</span></dt>
          <dd>
            <span>{{ chequeRegistryRef.chequeDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Deposited Date</span></dt>
          <dd>
            <span>{{ chequeRegistryRef.depositedDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Bank Account</span></dt>
          <dd>
            <span>{{ chequeRegistryRef.bankAccount }}</span>
          </dd>
          <dt><span>Status</span></dt>
          <dd>
            <span>{{ chequeRegistryRef.status }}</span>
          </dd>
          <dt><span>Is Changed</span></dt>
          <dd>
            <span>{{ chequeRegistryRef.isChanged }}</span>
          </dd>
          <dt><span>Chr Frm Cus</span></dt>
          <dd>
            <span>{{ chequeRegistryRef.chrFrmCus }}</span>
          </dd>
          <dt><span>Return Fee</span></dt>
          <dd>
            <span>{{ chequeRegistryRef.returnFee }}</span>
          </dd>
          <dt><span>Lmd</span></dt>
          <dd>
            <span>{{ chequeRegistryRef.lmd | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Lmu</span></dt>
          <dd>
            <span>{{ chequeRegistryRef.lmu }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/cheque-registry', chequeRegistryRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
