<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-accounts-heading" data-cy="AccountsCreateUpdateHeading">Create or edit a Accounts</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_opsUnitID">Ops Unit ID</label>
          <input type="text" class="form-control" name="opsUnitID" id="field_opsUnitID" data-cy="opsUnitID" formControlName="opsUnitID" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_date">Date</label>
          <div class="d-flex">
            <input
              id="field_date"
              data-cy="date"
              type="datetime-local"
              class="form-control"
              name="date"
              formControlName="date"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_relationid">Relationid</label>
          <input
            type="number"
            class="form-control"
            name="relationid"
            id="field_relationid"
            data-cy="relationid"
            formControlName="relationid"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_parent">Parent</label>
          <input type="text" class="form-control" name="parent" id="field_parent" data-cy="parent" formControlName="parent" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_path">Path</label>
          <input type="text" class="form-control" name="path" id="field_path" data-cy="path" formControlName="path" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_child">Child</label>
          <input type="text" class="form-control" name="child" id="field_child" data-cy="child" formControlName="child" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_balance">Balance</label>
          <input type="number" class="form-control" name="balance" id="field_balance" data-cy="balance" formControlName="balance" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lmu">Lmu</label>
          <input type="text" class="form-control" name="lmu" id="field_lmu" data-cy="lmu" formControlName="lmu" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lmd">Lmd</label>
          <div class="d-flex">
            <input
              id="field_lmd"
              data-cy="lmd"
              type="datetime-local"
              class="form-control"
              name="lmd"
              formControlName="lmd"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_accountLevel">Account Level</label>
          <input
            type="text"
            class="form-control"
            name="accountLevel"
            id="field_accountLevel"
            data-cy="accountLevel"
            formControlName="accountLevel"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_creditAmount">Credit Amount</label>
          <input
            type="number"
            class="form-control"
            name="creditAmount"
            id="field_creditAmount"
            data-cy="creditAmount"
            formControlName="creditAmount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_debitAmount">Debit Amount</label>
          <input
            type="number"
            class="form-control"
            name="debitAmount"
            id="field_debitAmount"
            data-cy="debitAmount"
            formControlName="debitAmount"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
