<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-invoice-heading" data-cy="InvoiceCreateUpdateHeading">Create or edit a Invoice</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_vehicleID">Vehicle ID</label>
          <input type="text" class="form-control" name="vehicleID" id="field_vehicleID" data-cy="vehicleID" formControlName="vehicleID" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_vehicleBrand">Vehicle Brand</label>
          <input
            type="text"
            class="form-control"
            name="vehicleBrand"
            id="field_vehicleBrand"
            data-cy="vehicleBrand"
            formControlName="vehicleBrand"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_vehicleModel">Vehicle Model</label>
          <input
            type="text"
            class="form-control"
            name="vehicleModel"
            id="field_vehicleModel"
            data-cy="vehicleModel"
            formControlName="vehicleModel"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_vehicleLicenseNumber">Vehicle License Number</label>
          <input
            type="text"
            class="form-control"
            name="vehicleLicenseNumber"
            id="field_vehicleLicenseNumber"
            data-cy="vehicleLicenseNumber"
            formControlName="vehicleLicenseNumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_vehicleOwnerID">Vehicle Owner ID</label>
          <input
            type="text"
            class="form-control"
            name="vehicleOwnerID"
            id="field_vehicleOwnerID"
            data-cy="vehicleOwnerID"
            formControlName="vehicleOwnerID"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_vehicleOwnerName">Vehicle Owner Name</label>
          <input
            type="text"
            class="form-control"
            name="vehicleOwnerName"
            id="field_vehicleOwnerName"
            data-cy="vehicleOwnerName"
            formControlName="vehicleOwnerName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_vehicleOwnerContactNumber1">Vehicle Owner Contact Number 1</label>
          <input
            type="text"
            class="form-control"
            name="vehicleOwnerContactNumber1"
            id="field_vehicleOwnerContactNumber1"
            data-cy="vehicleOwnerContactNumber1"
            formControlName="vehicleOwnerContactNumber1"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_vehicleOwnerContactNumber2">Vehicle Owner Contact Number 2</label>
          <input
            type="text"
            class="form-control"
            name="vehicleOwnerContactNumber2"
            id="field_vehicleOwnerContactNumber2"
            data-cy="vehicleOwnerContactNumber2"
            formControlName="vehicleOwnerContactNumber2"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_jobID">Job ID</label>
          <input type="text" class="form-control" name="jobID" id="field_jobID" data-cy="jobID" formControlName="jobID" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_totalNetAmount">Total Net Amount</label>
          <input
            type="number"
            class="form-control"
            name="totalNetAmount"
            id="field_totalNetAmount"
            data-cy="totalNetAmount"
            formControlName="totalNetAmount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_discountRate">Discount Rate</label>
          <input
            type="number"
            class="form-control"
            name="discountRate"
            id="field_discountRate"
            data-cy="discountRate"
            formControlName="discountRate"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_discountAmount">Discount Amount</label>
          <input
            type="number"
            class="form-control"
            name="discountAmount"
            id="field_discountAmount"
            data-cy="discountAmount"
            formControlName="discountAmount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_totalAmount">Total Amount</label>
          <input
            type="number"
            class="form-control"
            name="totalAmount"
            id="field_totalAmount"
            data-cy="totalAmount"
            formControlName="totalAmount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_netTotalAmount">Net Total Amount</label>
          <input
            type="number"
            class="form-control"
            name="netTotalAmount"
            id="field_netTotalAmount"
            data-cy="netTotalAmount"
            formControlName="netTotalAmount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_vatAmount">Vat Amount</label>
          <input type="number" class="form-control" name="vatAmount" id="field_vatAmount" data-cy="vatAmount" formControlName="vatAmount" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_customerVATNumber">Customer VAT Number</label>
          <input
            type="text"
            class="form-control"
            name="customerVATNumber"
            id="field_customerVATNumber"
            data-cy="customerVATNumber"
            formControlName="customerVATNumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_invoiceDate">Invoice Date</label>
          <div class="d-flex">
            <input
              id="field_invoiceDate"
              data-cy="invoiceDate"
              type="datetime-local"
              class="form-control"
              name="invoiceDate"
              formControlName="invoiceDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_invoiceStatus">Invoice Status</label>
          <select
            class="form-control"
            name="invoiceStatus"
            formControlName="invoiceStatus"
            id="field_invoiceStatus"
            data-cy="invoiceStatus"
          >
            <option [ngValue]="null"></option>
            @for (invoiceStatus of invoiceStatusValues; track $index) {
              <option [value]="invoiceStatus">{{ { null: '', PAID: 'PAID', UNPAID: 'UNPAID', PENDING: 'PENDING' }[invoiceStatus] }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
