<div>
  <h2 id="page-heading" data-cy="GatePassHeading">
    <span>Gate Passes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-gate-pass"
        [routerLink]="['/gate-pass/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down">Create a new Gate Pass</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch">Search for Gate Pass</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="Search for Gate Pass"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  <jhi-filter [filters]="filters" />

  @if (gatePasses().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Gate Passes found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="vehicleID">
              <div class="d-flex">
                <span>Vehicle ID</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="vehicleBrand">
              <div class="d-flex">
                <span>Vehicle Brand</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="vehicleModel">
              <div class="d-flex">
                <span>Vehicle Model</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="vehicleLicenseNumber">
              <div class="d-flex">
                <span>Vehicle License Number</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="vehicleOwnerID">
              <div class="d-flex">
                <span>Vehicle Owner ID</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="vehicleOwnerName">
              <div class="d-flex">
                <span>Vehicle Owner Name</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="vehicleOwnerContactNumber1">
              <div class="d-flex">
                <span>Vehicle Owner Contact Number 1</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="vehicleOwnerContactNumber2">
              <div class="d-flex">
                <span>Vehicle Owner Contact Number 2</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="fuelLevel">
              <div class="d-flex">
                <span>Fuel Level</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="meterReading">
              <div class="d-flex">
                <span>Meter Reading</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span>Status</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="frontView1">
              <div class="d-flex">
                <span>Front View 1</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="sideRView1">
              <div class="d-flex">
                <span>Side R View 1</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="sideLView1">
              <div class="d-flex">
                <span>Side L View 1</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="rearView1">
              <div class="d-flex">
                <span>Rear View 1</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="jobCardNumber">
              <div class="d-flex">
                <span>Job Card Number</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="receiptValue">
              <div class="d-flex">
                <span>Receipt Value</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="entryDateTime">
              <div class="d-flex">
                <span>Entry Date Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="opsUnitID">
              <div class="d-flex">
                <span>Ops Unit ID</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="invoiceNumber">
              <div class="d-flex">
                <span>Invoice Number</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="ownerBelongings">
              <div class="d-flex">
                <span>Owner Belongings</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span>Created By</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span>Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedBy">
              <div class="d-flex">
                <span>Last Modified By</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedDate">
              <div class="d-flex">
                <span>Last Modified Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="jobCard.id">
              <div class="d-flex">
                <span>Job Card</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (gatePass of gatePasses(); track trackId(gatePass)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/gate-pass', gatePass.id, 'view']">{{ gatePass.id }}</a>
              </td>
              <td>{{ gatePass.vehicleID }}</td>
              <td>{{ gatePass.vehicleBrand }}</td>
              <td>{{ gatePass.vehicleModel }}</td>
              <td>{{ gatePass.vehicleLicenseNumber }}</td>
              <td>{{ gatePass.vehicleOwnerID }}</td>
              <td>{{ gatePass.vehicleOwnerName }}</td>
              <td>{{ gatePass.vehicleOwnerContactNumber1 }}</td>
              <td>{{ gatePass.vehicleOwnerContactNumber2 }}</td>
              <td>{{ gatePass.fuelLevel }}</td>
              <td>{{ gatePass.meterReading }}</td>
              <td>
                {{
                  { null: '', OPEN: 'OPEN', CANCELED: 'CANCELED', COMPLETE: 'COMPLETE', CLOSED: 'CLOSED', ONGOING: 'ONGOING' }[
                    gatePass.status ?? 'null'
                  ]
                }}
              </td>
              <td>{{ gatePass.frontView1 }}</td>
              <td>{{ gatePass.sideRView1 }}</td>
              <td>{{ gatePass.sideLView1 }}</td>
              <td>{{ gatePass.rearView1 }}</td>
              <td>{{ gatePass.jobCardNumber }}</td>
              <td>{{ gatePass.receiptValue }}</td>
              <td>{{ gatePass.entryDateTime | formatMediumDatetime }}</td>
              <td>{{ gatePass.opsUnitID }}</td>
              <td>{{ gatePass.invoiceNumber }}</td>
              <td>{{ gatePass.ownerBelongings }}</td>
              <td>{{ gatePass.createdBy }}</td>
              <td>{{ gatePass.createdDate | formatMediumDatetime }}</td>
              <td>{{ gatePass.lastModifiedBy }}</td>
              <td>{{ gatePass.lastModifiedDate | formatMediumDatetime }}</td>
              <td>
                @if (gatePass.jobCard) {
                  <div>
                    <a [routerLink]="['/job-card', gatePass.jobCard.id, 'view']">{{ gatePass.jobCard.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/gate-pass', gatePass.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/gate-pass', gatePass.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(gatePass)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (gatePasses().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
