<!-- Reusable form component template -->
<form class="flex h-full flex-col" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="flex items-center justify-between border-b pb-4">
    <h2 class="text-2xl font-bold">
      {{ heading || (isEditMode ? 'Edit CourseAdmission' : 'New CourseAdmission') }}
    </h2>
    <mat-icon *ngIf="isSaving" class="animate-spin">autorenew</mat-icon>
  </div>

  <div class="flex-auto space-y-4 overflow-y-auto pt-6">

<!-- Course select -->
  <mat-form-field class="w-full">
    <mat-label>Course</mat-label>
    <mat-select formControlName="courseRef" [compareWith]="compareEntityById" (selectionChange)="onCourseChange()">
      <mat-option [value]="null">-- Select Course --</mat-option>
      <mat-option *ngFor="let c of courses" [value]="c">
        {{ c.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>

   <div class="mt-4"> 
  <label class="block mb-1 font-medium">Payment Plan</label>
  <mat-radio-group formControlName="isSinglePayment" class="flex gap-4" (change)="onPaymentPlanChange()">
    <mat-radio-button [value]="true">Single Payment</mat-radio-button>
    <mat-radio-button [value]="false">Installments</mat-radio-button>
  </mat-radio-group>
</div>

<!-- Installments / Payment section -->
<div *ngIf="installments.length > 0" formArrayName="installments">


  <div *ngFor="let inst of installments.controls; let i = index" [formGroupName]="i" class="flex gap-4">
    <!-- Payment # / Installment # -->
    <mat-form-field class="w-1/4">
      <mat-label>
        {{ form.get('isSinglePayment')?.value === true ? 'Payment #' : 'Installment#' }}
      </mat-label>
      <input matInput formControlName="installmentNo" readonly />
    </mat-form-field>

    <!-- Total Fee / Installment Fee -->
    <mat-form-field class="w-1/3">
      <mat-label>
        {{ form.get('isSinglePayment')?.value === true ? 'Total Fee' : 'Installment Fee' }}
      </mat-label>
      <input matInput type="number" formControlName="installmentFee"
        [readonly]="form.get('isSinglePayment')?.value === true" />
    </mat-form-field>


    <mat-form-field class="w-1/2">
      <mat-label>Due Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dueDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <!-- Validation message-->
  <div *ngIf="installments.errors?.totalMismatch" class="text-red-600 font-semibold">
    Total of installments must equal the total fee.
  </div>
</div>



    <mat-form-field class="w-full">
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="fullName" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>Name With Initials</mat-label>
      <input matInput formControlName="nameWithInitials" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>Permanent Address</mat-label>
      <input matInput formControlName="permanentAddress" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>Tele No</mat-label>
      <input matInput formControlName="teleNo" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>Mobile No</mat-label>
      <input matInput formControlName="mobileNo" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>WhatsApp No</mat-label>
      <input matInput formControlName="whatsAppNo" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>Nic</mat-label>
      <input matInput formControlName="nic" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>Date Of Birth</mat-label>
      <input matInput [matDatepicker]="pickerdateOfBirth" formControlName="dateOfBirth">
      <mat-datepicker-toggle matSuffix [for]="pickerdateOfBirth"></mat-datepicker-toggle>
      <mat-datepicker #pickerdateOfBirth></mat-datepicker>
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>Employer</mat-label>
      <input matInput formControlName="employer" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>Employer Designation</mat-label>
      <input matInput formControlName="employerDesignation" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>Employer Official Address</mat-label>
      <input matInput formControlName="employerOfficialAddress" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>Employer Tele No</mat-label>
      <input matInput formControlName="employerTeleNo" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>Employer Fax No</mat-label>
      <input matInput formControlName="employerFaxNo" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>Sponsor By Whom</mat-label>
      <input matInput formControlName="sponsorByWhom" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>Advertisement Type Other</mat-label>
      <input matInput formControlName="advertisementTypeOther" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let option of applicationStatusOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>Applied Date Time</mat-label>
      <input matInput [matDatepicker]="pickerappliedDateTime" formControlName="appliedDateTime">
      <mat-datepicker-toggle matSuffix [for]="pickerappliedDateTime"></mat-datepicker-toggle>
      <mat-datepicker #pickerappliedDateTime></mat-datepicker>
    </mat-form-field>
      
    
      
    <mat-checkbox class="w-full" formControlName="approval1Status">
      Approval1Status
    </mat-checkbox>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>Approval1DateTime</mat-label>
      <input matInput [matDatepicker]="pickerapproval1DateTime" formControlName="approval1DateTime">
      <mat-datepicker-toggle matSuffix [for]="pickerapproval1DateTime"></mat-datepicker-toggle>
      <mat-datepicker #pickerapproval1DateTime></mat-datepicker>
    </mat-form-field>
      
    
      
    <mat-checkbox class="w-full" formControlName="approval2Status">
      Approval2Status
    </mat-checkbox>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>Approval2DateTime</mat-label>
      <input matInput [matDatepicker]="pickerapproval2DateTime" formControlName="approval2DateTime">
      <mat-datepicker-toggle matSuffix [for]="pickerapproval2DateTime"></mat-datepicker-toggle>
      <mat-datepicker #pickerapproval2DateTime></mat-datepicker>
    </mat-form-field>
      
    
      
    <mat-checkbox class="w-full" formControlName="approval3Status">
      Approval3Status
    </mat-checkbox>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>Approval3DateTime</mat-label>
      <input matInput [matDatepicker]="pickerapproval3DateTime" formControlName="approval3DateTime">
      <mat-datepicker-toggle matSuffix [for]="pickerapproval3DateTime"></mat-datepicker-toggle>
      <mat-datepicker #pickerapproval3DateTime></mat-datepicker>
    </mat-form-field>
      
    

    
    
  </div>

  <div *ngIf="errorMessage" class="mt-2 rounded bg-warn-100 px-4 py-2 text-warn-900">
    {{ errorMessage }}
  </div>

  <div class="mt-6 flex items-center justify-end border-t pt-6">
    <button type="button" mat-button (click)="onCancel()">Cancel</button>
    <button type="submit" mat-flat-button color="primary" class="ml-3" [disabled]="form.invalid || isSaving">
      <span *ngIf="!isSaving">Save</span>
      <span *ngIf="isSaving">Saving…</span>
    </button>
  </div>
</form>
