<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-industry-experience-heading" data-cy="IndustryExperienceCreateUpdateHeading">Create or edit a Industry Experience</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">Id</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_instituteName">Institute Name</label>
          <input
            type="text"
            class="form-control"
            name="instituteName"
            id="field_instituteName"
            data-cy="instituteName"
            formControlName="instituteName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_fromDate">From Date</label>
          <div class="input-group">
            <input
              id="field_fromDate"
              data-cy="fromDate"
              type="text"
              class="form-control"
              name="fromDate"
              ngbDatepicker
              #fromDateDp="ngbDatepicker"
              formControlName="fromDate"
            />
            <button type="button" class="btn btn-secondary" (click)="fromDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_toDate">To Date</label>
          <div class="input-group">
            <input
              id="field_toDate"
              data-cy="toDate"
              type="text"
              class="form-control"
              name="toDate"
              ngbDatepicker
              #toDateDp="ngbDatepicker"
              formControlName="toDate"
            />
            <button type="button" class="btn btn-secondary" (click)="toDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_years">Years</label>
          <input type="number" class="form-control" name="years" id="field_years" data-cy="years" formControlName="years" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_months">Months</label>
          <input type="number" class="form-control" name="months" id="field_months" data-cy="months" formControlName="months" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_applicant">Applicant</label>
          <select
            class="form-control"
            id="field_applicant"
            data-cy="applicant"
            name="applicant"
            formControlName="applicant"
            [compareWith]="compareApplicant"
          >
            <option [ngValue]="null"></option>
            @for (applicantOption of applicantsSharedCollection; track $index) {
              <option [ngValue]="applicantOption">{{ applicantOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
