<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-supplier-bank-heading" data-cy="SupplierBankCreateUpdateHeading">Create or edit a Supplier Bank</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_creditPeriod">Credit Period</label>
          <input
            type="number"
            class="form-control"
            name="creditPeriod"
            id="field_creditPeriod"
            data-cy="creditPeriod"
            formControlName="creditPeriod"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_maximumDiscount">Maximum Discount</label>
          <input
            type="number"
            class="form-control"
            name="maximumDiscount"
            id="field_maximumDiscount"
            data-cy="maximumDiscount"
            formControlName="maximumDiscount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_maximumCreditLimit">Maximum Credit Limit</label>
          <input
            type="number"
            class="form-control"
            name="maximumCreditLimit"
            id="field_maximumCreditLimit"
            data-cy="maximumCreditLimit"
            formControlName="maximumCreditLimit"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_chequeDrawn">Cheque Drawn</label>
          <input
            type="text"
            class="form-control"
            name="chequeDrawn"
            id="field_chequeDrawn"
            data-cy="chequeDrawn"
            formControlName="chequeDrawn"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cash">Cash</label>
          <input type="checkbox" class="form-check" name="cash" id="field_cash" data-cy="cash" formControlName="cash" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lmd">Lmd</label>
          <div class="d-flex">
            <input
              id="field_lmd"
              data-cy="lmd"
              type="datetime-local"
              class="form-control"
              name="lmd"
              formControlName="lmd"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lmu">Lmu</label>
          <input type="text" class="form-control" name="lmu" id="field_lmu" data-cy="lmu" formControlName="lmu" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
