<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (brand(); as brandRef) {
      <div>
        <h2 data-cy="brandDetailsHeading"><span>Brand</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ brandRef.id }}</span>
          </dd>
          <dt><span>Brand Name</span></dt>
          <dd>
            <span>{{ brandRef.brandName }}</span>
          </dd>
          <dt><span>Description</span></dt>
          <dd>
            <span>{{ brandRef.description }}</span>
          </dd>
          <dt><span>Ops Unit ID</span></dt>
          <dd>
            <span>{{ brandRef.opsUnitID }}</span>
          </dd>
          <dt><span>Emblem</span></dt>
          <dd>
            <span>{{ brandRef.emblem }}</span>
          </dd>
          <dt><span>Created By</span></dt>
          <dd>
            <span>{{ brandRef.createdBy }}</span>
          </dd>
          <dt><span>Created Date</span></dt>
          <dd>
            <span>{{ brandRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Last Modified By</span></dt>
          <dd>
            <span>{{ brandRef.lastModifiedBy }}</span>
          </dd>
          <dt><span>Last Modified Date</span></dt>
          <dd>
            <span>{{ brandRef.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/brand', brandRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
