<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-employment-heading" data-cy="EmploymentCreateUpdateHeading">Create or edit a Employment</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">Id</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_organizationName">Organization Name</label>
          <input
            type="text"
            class="form-control"
            name="organizationName"
            id="field_organizationName"
            data-cy="organizationName"
            formControlName="organizationName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_designation">Designation</label>
          <input
            type="text"
            class="form-control"
            name="designation"
            id="field_designation"
            data-cy="designation"
            formControlName="designation"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_officialTelephone">Official Telephone</label>
          <input
            type="text"
            class="form-control"
            name="officialTelephone"
            id="field_officialTelephone"
            data-cy="officialTelephone"
            formControlName="officialTelephone"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_officialAddress">Official Address</label>
          <textarea
            class="form-control"
            name="officialAddress"
            id="field_officialAddress"
            data-cy="officialAddress"
            formControlName="officialAddress"
          ></textarea>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
