<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-grn-lines-heading" data-cy="GRNLinesCreateUpdateHeading">Create or edit a GRN Lines</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_grnId">Grn Id</label>
          <input type="number" class="form-control" name="grnId" id="field_grnId" data-cy="grnId" formControlName="grnId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lineId">Line Id</label>
          <input type="number" class="form-control" name="lineId" id="field_lineId" data-cy="lineId" formControlName="lineId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_itemId">Item Id</label>
          <input type="number" class="form-control" name="itemId" id="field_itemId" data-cy="itemId" formControlName="itemId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_itemCode">Item Code</label>
          <input type="text" class="form-control" name="itemCode" id="field_itemCode" data-cy="itemCode" formControlName="itemCode" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_itemName">Item Name</label>
          <input type="text" class="form-control" name="itemName" id="field_itemName" data-cy="itemName" formControlName="itemName" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_unitOfMeasurement">Unit Of Measurement</label>
          <input
            type="text"
            class="form-control"
            name="unitOfMeasurement"
            id="field_unitOfMeasurement"
            data-cy="unitOfMeasurement"
            formControlName="unitOfMeasurement"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_receivedQuantity">Received Quantity</label>
          <input
            type="number"
            class="form-control"
            name="receivedQuantity"
            id="field_receivedQuantity"
            data-cy="receivedQuantity"
            formControlName="receivedQuantity"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_totalAmount">Total Amount</label>
          <input
            type="number"
            class="form-control"
            name="totalAmount"
            id="field_totalAmount"
            data-cy="totalAmount"
            formControlName="totalAmount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lineTotal">Line Total</label>
          <input type="number" class="form-control" name="lineTotal" id="field_lineTotal" data-cy="lineTotal" formControlName="lineTotal" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lmu">Lmu</label>
          <input type="number" class="form-control" name="lmu" id="field_lmu" data-cy="lmu" formControlName="lmu" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lmd">Lmd</label>
          <div class="d-flex">
            <input
              id="field_lmd"
              data-cy="lmd"
              type="datetime-local"
              class="form-control"
              name="lmd"
              formControlName="lmd"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_inspected">Inspected</label>
          <input type="checkbox" class="form-check" name="inspected" id="field_inspected" data-cy="inspected" formControlName="inspected" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_passQty">Pass Qty</label>
          <input type="number" class="form-control" name="passQty" id="field_passQty" data-cy="passQty" formControlName="passQty" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_currentReceivedQty">Current Received Qty</label>
          <input
            type="number"
            class="form-control"
            name="currentReceivedQty"
            id="field_currentReceivedQty"
            data-cy="currentReceivedQty"
            formControlName="currentReceivedQty"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_totalPassedQty">Total Passed Qty</label>
          <input
            type="number"
            class="form-control"
            name="totalPassedQty"
            id="field_totalPassedQty"
            data-cy="totalPassedQty"
            formControlName="totalPassedQty"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_isInventoryUpdate">Is Inventory Update</label>
          <input
            type="checkbox"
            class="form-check"
            name="isInventoryUpdate"
            id="field_isInventoryUpdate"
            data-cy="isInventoryUpdate"
            formControlName="isInventoryUpdate"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_inventoryQty">Inventory Qty</label>
          <input
            type="number"
            class="form-control"
            name="inventoryQty"
            id="field_inventoryQty"
            data-cy="inventoryQty"
            formControlName="inventoryQty"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_totalInventoryQty">Total Inventory Qty</label>
          <input
            type="number"
            class="form-control"
            name="totalInventoryQty"
            id="field_totalInventoryQty"
            data-cy="totalInventoryQty"
            formControlName="totalInventoryQty"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
