<div
  id="print-section"
  class="w-full h-full fixed top-0 left-0 z-50 bg-white p-10 text-sm text-gray-800 print:block overflow-auto"
>
  <!-- Back and Print Buttons -->
  <div class="flex space-x-4 mb-6 no-print">
    <button
      (click)="goBack()"
      class="px-4 py-2 bg-gradient-to-r from-gray-500 to-gray-700 hover:from-gray-600 hover:to-gray-800 rounded-lg shadow text-white flex items-center transition-all duration-200"
    >
      <mat-icon
        class="icon-size-4 text-white"
        [svgIcon]="'mat_outline:arrow_back'"
      ></mat-icon>
      <span class="ml-2">Back</span>
    </button>

    <button
      (click)="print()"
      class="px-4 py-2 bg-gradient-to-r from-rose-500 to-red-500 hover:from-rose-600 hover:to-red-600 rounded-lg shadow text-white flex items-center transition-all duration-200"
    >
      <mat-icon
        class="icon-size-4 text-white"
        [svgIcon]="'mat_outline:print'"
      ></mat-icon>
      <span class="ml-2">Print</span>
    </button>
  </div>

  <!-- PRINT TEMPLATE (Initially hidden) -->
  <div class="p-6 text-sm text-gray-800">
    <!-- Header Section -->
    <div class="text-center mb-6">
      <div class="flex justify-between items-center mb-4">
        <div>
          <!-- <img
            src="assets/car.png"
            alt="Nimesh Motor Works Logo"
            class="h-50 mt-10"
          /> -->
        </div>
        <div class="text-right">
          <!-- <h1 class="text-7xl font-bold text-red-600 italic">
            <strong>Nimesh Motor Works</strong>
          </h1>
          <p class="text-lg">
            Repairs to all Diesel & Petrol Motor Vehicles, Tinkering & Painting
          </p>
          <p class="text-base mr-2">
            No : 27 / 1, Jubilee Rd, Laxapathiya, Moratuwa.
          </p>
          <p class="text-base mr-50">Tel : 011-2648438</p>
          <p class="text-base mr-11">
            Email : nimeshmotorworks95&#64;gmail.com
          </p> -->
        </div>
      </div>
      <hr class="border-white mt-40" />
      <div class="flex justify-between text-sm ml-20 mr-30">
        <div class="text-left">
          <p class="uppercase">
            <strong>Insurance</strong>
            <span class="ml-3">: {{ insuranceProvider }}</span>
          </p>
          <p class="uppercase">
            <strong>Vehicle No</strong>
            <span class="ml-3">: {{ vehicleNo }}</span>
          </p>
          <p class="uppercase">
            <strong>Contact No</strong>
            <span class="ml-1"
              >: {{ preEstimate.vehicleOwnerContactNumber1 }}</span
            >
          </p>
        </div>
        <div class="text-left">
          <p class="uppercase">
            <strong>Date</strong>
            <span class="ml-11"
              >: {{ preEstimate.createdDate | date: "medium" }}</span
            >
          </p>
          <p class="uppercase">
            <strong>Model</strong>
            <span class="ml-8">: {{ preEstimate.vehicleModel }}</span>
          </p>
          <p class="uppercase">
            <strong>Customer</strong>
            <span class="ml-2">: {{ preEstimate.vehicleOwnerName }}</span>
          </p>
        </div>
      </div>
    </div>

    <h2 class="text-lg font-bold text-center underline mb-5">
      ESTIMATE FOR ACCIDENT REPAIRING
    </h2>

    <ng-container
      *ngFor="
        let section of ['part', 'repair', 'fitting_charge', 'paint', 'other']
      "
    >
      <div *ngIf="formLines[section]?.length > 0" class="mb-8">
        <!-- Section Title -->
        <h2 class="text-lg font-bold uppercase mb-2 border-b pb-1">
          {{
            section === "part"
              ? "SPARE PARTS"
              : section === "repair"
                ? "REPAIRING"
                : section === "fitting_charge"
                  ? "FITTING CHARGERS"
                  : section === "paint"
                    ? "PAINTING"
                    : section === "other"
                      ? "OTHERS"
                      : section
          }}
        </h2>

        <!-- Table -->
        <table
          class="w-full border border-collapse border-gray-400 text-left text-sm table-fixed"
        >
          <thead class="bg-gray-100">
            <tr>
              <!-- Fixed width for # column -->
              <th class="border p-2 w-[60px]">#</th>
              <!-- Dynamic width for Work column -->
              <th
                class="border p-2 uppercase"
                [ngClass]="{
                  'w-1/4': section === 'part',
                  'w-1/2': section !== 'part',
                }"
              >
                Work
              </th>
              <!-- Additional columns for the 'part' section -->
              <th *ngIf="section === 'part'" class="border p-2 w-1/6 uppercase">
                S/H
              </th>
              <th *ngIf="section === 'part'" class="border p-2 w-1/6 uppercase">
                Market Price
              </th>
              <!-- Flexible widths for Estimate Price and Amended Price -->
              <th
                *ngIf="section != 'part'"
                class="border p-2 uppercase"
                [ngClass]="{
                  'w-1/6': section === 'part',
                  'w-1/4': section !== 'part',
                }"
              >
                Estimate Price
              </th>
              <th
                class="border p-2 uppercase"
                [ngClass]="{
                  'w-1/6': section === 'part',
                  'w-1/4': section !== 'part',
                }"
              >
                Amended Price
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let line of formLines[section]; let i = index">
              <!-- Fixed width for # column -->
              <td class="border p-2 w-[60px]">{{ i + 1 | number: "2.0" }}</td>
              <!-- Dynamic width for Work column -->
              <td
                class="border p-2"
                [ngClass]="{
                  'w-1/4': section === 'part',
                  'w-1/2': section !== 'part',
                }"
              >
                {{ line.works }}
              </td>
              <!-- Additional columns for the 'part' section -->
              <td *ngIf="section === 'part'" class="border p-2 w-1/6">
                {{ line.sh }}
              </td>
              <td *ngIf="section === 'part'" class="border p-2 w-1/6">
                {{ line.marketPrice | currency: " " }}
              </td>
              <!-- Flexible widths for Estimate Price and Amended Price -->
              <td
                *ngIf="section != 'part'"
                class="border p-2"
                [ngClass]="{
                  'w-1/6': section === 'part',
                  'w-1/4': section !== 'part',
                }"
              >
                {{ line.price | currency: " " }}
              </td>
              <td
                class="border p-2"
                [ngClass]="{
                  'w-1/6': section === 'part',
                  'w-1/4': section !== 'part',
                }"
              >
                {{ line.approvedPrice }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
</div>
