<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (theInventoryBatches(); as theInventoryBatchesRef) {
      <div>
        <h2 data-cy="theInventoryBatchesDetailsHeading"><span>The Inventory Batches</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ theInventoryBatchesRef.id }}</span>
          </dd>
          <dt><span>Item Id</span></dt>
          <dd>
            <span>{{ theInventoryBatchesRef.itemId }}</span>
          </dd>
          <dt><span>Grn Id</span></dt>
          <dd>
            <span>{{ theInventoryBatchesRef.grnId }}</span>
          </dd>
          <dt><span>Code</span></dt>
          <dd>
            <span>{{ theInventoryBatchesRef.code }}</span>
          </dd>
          <dt><span>Tx Date</span></dt>
          <dd>
            <span>{{ theInventoryBatchesRef.txDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Cost</span></dt>
          <dd>
            <span>{{ theInventoryBatchesRef.cost }}</span>
          </dd>
          <dt><span>Price</span></dt>
          <dd>
            <span>{{ theInventoryBatchesRef.price }}</span>
          </dd>
          <dt><span>Cost Without Vat</span></dt>
          <dd>
            <span>{{ theInventoryBatchesRef.costWithoutVat }}</span>
          </dd>
          <dt><span>Price Without Vat</span></dt>
          <dd>
            <span>{{ theInventoryBatchesRef.priceWithoutVat }}</span>
          </dd>
          <dt><span>Notes</span></dt>
          <dd>
            <span>{{ theInventoryBatchesRef.notes }}</span>
          </dd>
          <dt><span>Lmu</span></dt>
          <dd>
            <span>{{ theInventoryBatchesRef.lmu }}</span>
          </dd>
          <dt><span>Lmd</span></dt>
          <dd>
            <span>{{ theInventoryBatchesRef.lmd | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Line Id</span></dt>
          <dd>
            <span>{{ theInventoryBatchesRef.lineId }}</span>
          </dd>
          <dt><span>Manufacture Date</span></dt>
          <dd>
            <span>{{ theInventoryBatchesRef.manufactureDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Expire Date</span></dt>
          <dd>
            <span>{{ theInventoryBatchesRef.expireDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Quantity</span></dt>
          <dd>
            <span>{{ theInventoryBatchesRef.quantity }}</span>
          </dd>
          <dt><span>Added Date</span></dt>
          <dd>
            <span>{{ theInventoryBatchesRef.addedDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Cost Total</span></dt>
          <dd>
            <span>{{ theInventoryBatchesRef.costTotal }}</span>
          </dd>
          <dt><span>Return Price</span></dt>
          <dd>
            <span>{{ theInventoryBatchesRef.returnPrice }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/the-inventory-batches', theInventoryBatchesRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
